<head>

  <meta charset="UTF-8">
  <title><%= config.title %></title>

  <!-- Meta & Info -->
  <meta http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta name="theme-color" content="#fff">

  <link rel="stylesheet" type="text/css" href="semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
